/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2")  format("woff2");
  font-display: swap;
}

/* Common */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Page */

.page {
  height: 100%;
  background-color: #F2F2F2;
}

.page-body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Wrapper */

.wrapper {
  width: 1056px;
  margin: 0 auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.section-wrapper {
  width: 720px;
  margin: 0 auto;
}

/* Section */

.section-title{
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

/* Button */

.btn {
  display: inline-block;
  margin: 0;
  padding: 7px 15px 6px;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #83B3D3;;
  text-transform: uppercase;
  text-decoration: none;
  cursor:pointer;
}

.btn:hover {
  background-color: #68a2ca;
}

.btn:active {
  color: rgba(255,255,255,0.3);
  background-color: #68a2ca;
}

.btn:focus:not(:active) {
  background-color: #68a2ca;
  outline: 3px solid #615048;
  outline-offset: 0;
}

.btn-secondary {
  background-color: #756257;
}

.btn-secondary:hover {
  background-color: #615048;
}

.btn-secondary:active {
  background-color: #615048;
}

.btn-secondary:focus:not(:active) {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.btn-success {
  background-color: #7db54f;
}

.btn-success:hover {
  background-color: #6c9e42;
}

.btn-success:active {
  background-color: #6c9e42;
}

.btn-success:focus:not(:active) {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.btn[disabled] {
  opacity: 0.3;
  color: #ffffff;
  background-color: #d3d3d3;
}

.btn-large {
  padding: 18px 16px 17px;
  font-size: 20px;
  border-radius: 10px;
}

/* Forms */

.field-input {
  margin: 0;
  padding: 8px 20px;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 18px;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input-error {
  border-color: #ff5757;
}

.field-input[disabled] {
  opacity: 0.3;
  background-color: #d3d3d3;
}

/* Header */

.page-header {
  padding: 0 70px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 65px;
}

.logo-link {
  width: 139px;
  height: 70px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  cursor: pointer;
  margin-bottom: -10px;
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus:not(:active) {
  opacity: 0.8;
  outline: 3px solid #83b3d3;
}

.logo-link-image {
  display: block;
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
}

.site-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-menu-link {
  display: block;
  padding: 17px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.site-menu-link[href]:hover{
  color :#756257;
}

.site-menu-link[href]:focus {
  color: rgba(117, 98, 87, 0.7)
}

.site-menu-link[href]:active {
  color: rgba(117, 98, 87, 0.3);
}

.menu-item-current {
  position: relative;
}

.menu-item-current::after{
  content: "";
  position: absolute;
  right:17px;
  left:17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 450px;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
}

.user-link-icon {
  fill: #000000;
}

.user-link:hover .user-link-icon{
  fill: #756257;
}

.user-link:focus .user-link-icon{
  fill: rgba(117, 98, 87, 0.6);
}

.user-link:focus {
  outline: 3px solid #83b3d3;
}

.user-link:active .user-link-icon{
  fill: rgba(117, 98, 87, 0.3);
}

.user-link[disabled] {
  opacity: 0.3;
}

.favorites-counter {
  position: absolute;
  top:3px;
  right: -2px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  text-decoration: none;
  color:#ffffff;
  min-width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  background-color: #7db54f;
  text-align: center;
}

.user-btn {
  margin-left: 20px;
  min-width: 160px;
}

/* Main */

/* Wellcome */



.wellcome {
  height: 485px;
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position:
  50% 51px,
  50% 100%,
  50% 50% ;
  background-size:
  auto auto,
  100% auto,
  cover;
  background-image:
  url("../img/background/welcome.svg"),
  url("../img/background/divider.svg"),
  url("../img/background/index-background-wellcome.jpg");
}

/* Advantages */

.advantages {
  padding-top: 63px;
}

.advantages .section-title {
  margin-bottom: 36px;
}

.advantages .section-description {
  margin-bottom: 87px;
}

.advantages-list,
.town-advantages-list,
.bridge-advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title,
.town-advantages-title,
.bridge-advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title,
.bridge-advantages-title {
  margin-bottom: 30px;
}

.advantages-list {
  counter-reset: advantage;
}
.text-content p,
.bridge-advantages-item p,
.town-advantages-item p {
  margin: 0;
}

.town-advantages-title {
  margin-bottom: 20px;
}
.text-content > p::before,
.bridge-advantages-item p::before {
  counter-increment: advantage;
  content: "— №"counter(advantage)" —";
  display: block;
  margin: 0;
  margin-bottom: 26px;
}

.advantages-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  background-color: #83B3D3;
}

.text-content {
  padding-top: 90px;
  padding-bottom: 81px;
  max-width: 220px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.item-image {
  display: block;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: auto;
}

.bridge-item-image {
  -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1;
}

.bridge-text-content {
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}

.bridge-advantages-list {
  -webkit-box-ordinal-group:4;
      -ms-flex-order:3;
          order:3;
}

.town-advantages-list,
.bridge-advantages-list {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
}

.bridge-advantages-item,
.town-advantages-item{
  background-color: #F0F6FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  padding: 0 75px;
}

.town-advantages-item {
  padding-top: 184px;
  position: relative;
}

.bridge-advantages-item {
  padding-top: 98px;
  padding-bottom: 108px;
}

.town-advantages-item::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 162px;
  width: 76px;
  height: 76px;
}

.housing::before {
  background-image: url("../img/icon/icon-1.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.meal::before {
  background-image: url("../img/icon/icon-2.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.souvenirs::before {
  background-image: url("../img/icon/icon-3.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.meal {
  background-color:#FFFFFF;

}

.road {
 background-color: #E6F0F6;
}

/* Search-hotel  */

.search-hotel {
  padding: 88px 240px 95px;
}

.search-hotel .section-title {
  margin-bottom: 30px;
}

.search-hotel .section-description {
  text-align: center;
}

.search-hotel-btn {
  margin-top: 53px;
  min-width: 575px;
  min-height: 60px;
}

/* Subscribe */


.index-subscribe {
  padding-top: 92px;
  padding-bottom: 94px;
  color: #ffffff;
  background-color: #46424c;
  background-image: url("../img/background/index-background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-subscribe .section-title {
  color: #ffffff;
  margin-bottom: 32px;
}

.catalog-subscribe .section-title {
  margin-bottom: 46px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60px;
  margin-top: 44px;
}

.subscribe-form .field-input{
  width: 600px;
  border-radius: 10px 0 0 10px;
}

.catalog-subscribe {
  padding-top: 43px;
  padding-bottom: 140px;
}

.subscribe-submit {
  border: none;
  border-radius: 0 10px 10px 0;
  width: 200px;
  padding: 15px;
}

.subscribe-submit:focus:not(:active) {
  outline:3px solid #756257;
}

/* Footer */

.page-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px -webkit-max-content 30px 1fr;
  -ms-grid-columns: 1fr 30px max-content 30px 1fr;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 27px 62px 25px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-right: -2px;
  margin-left: -2px;
}

.social-item {
  margin: auto 2px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.social-icon {
  margin: auto;
}

.social-icon {
  fill:#83B3D3;
}

.social-link:hover .social-icon {
  fill:#68A2CA;
}


.social-link:active {
  opacity: 0.3;
}

.social-link:focus:not(:active) {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  fill:#68A2CA;
}

.number {
  display: block;
  padding: 15px;
  min-height: 70px;
  font-size: 40px;
  max-width: 750px;
  color: #000000;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.number:hover  {
  color:#756257;
}

.number:active {
  color:#756257;
  opacity: 0.3;
}


.number:focus:not(:active) {
  outline: 3px solid #83b3d3 ;
  border-radius: 10px;
  color:#756257;
}

.copyright-link {
  display: block;
  border-radius: 10px;
  padding: 16px 22px;
  margin-right: -12px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.copyright-icon {
  fill: #000000;
}

.copyright-link:hover {
  fill:#756257;
}


.copyright-link:active {
  fill:#756257;
  opacity: 0.3;
}

.copyright-link:focus:not(:active){
  fill:#756257;
  outline: 3px solid #83b3d3 ;
}


/* Catalog */
/* Inner-header */

.inner-header {
  padding: 35px 72px 82px;
  color: #ffffff;
  background-color: #6c9e42;
  background-image: url("../img/background/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

/* Breadcrumbs */


.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 850px;
  margin: 0;
  margin-top: -10px;
  margin-left: -8px;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon/nav-link.svg");
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  top: 12px;
  left: -7px;
}

.breadcrumbs-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  fill: #ffffff;
  padding: 3px 8px;
  border-radius: 4px;
}

.breadcrumbs-link .breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link[href]:hover{
  opacity: 0.6;
}

.breadcrumbs-link[href]:active{
  opacity: 0.3;
}

.breadcrumbs-link:focus:not(:active){
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.breadcrumbs-link-home {
  width:28px;
  height:27px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icon/home.svg");
}

/* Filter */

.catalog-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 17px 200px 17px 1fr 17px 224px;
  grid-template-columns: 200px 200px 1fr 224px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 17px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group-price {
  margin-left: 94px;
}

.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child){
  margin-bottom: 13px;
}

.catalog-filter-title {
  text-align: left;
  font-size: 20px;
  line-height:  26px;
  margin: 0;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:hover + .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: solid 3px #82b3d3;
  opacity: 0.6;
}

.control-input[type="checkbox"]:active + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="checkbox"]:disabled + .control-mark +.control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark{
  background-image: url("../img/icon/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}


.control-input[type="radio"]:focus + .control-mark {
  outline: solid 3px #82b3d3;
}

.control-input[type="radio"]:disabled + .control-mark,
.control-input[type="radio"]:disabled + .control-mark +.control-label {
  opacity: 0.1;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top:5px;
  left:5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.control-label {
  line-height: 23px;
  display: block;
  text-align: left;
  padding: 0;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.range-input {
  width: 145px;
  height: 48px;
  border: 2px solid rgba(255,255,255,1);
  background-color: transparent;
  color: rgba(255,255,255,1);
  padding: 10px 18px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  border-left: 2px solid transparent;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input:hover {
  z-index: 1;
  border-color: rgba(255,255,255,0.6);
}


.range-input:focus {
  z-index: 1;
  border-color: rgba(255,255,255,1);
  -webkit-box-shadow: inset 0 0 0 3px #81b3d2;
          box-shadow: inset 0 0 0 3px #81b3d2;
  outline: 3px solid #81b3d2;
}

.range-input:not(:-moz-placeholder-shown):focus {
  z-index: 1;
  border-color: rgba(255,255,255,1);
  background-color: #756257;
  outline: none;
  box-shadow: none;
}

.range-input:not(:-ms-input-placeholder):focus {
  z-index: 1;
  border-color: rgba(255,255,255,1);
  background-color: #756257;
  outline: none;
  box-shadow: none;
}

.range-input:not(:placeholder-shown):focus {
  z-index: 1;
  border-color: rgba(255,255,255,1);
  background-color: #756257;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.range-input[disabled]{
  opacity: 0.3;
  border-color: #ffffff;
}

.range-input-max:hover{
  border-left:2px solid rgba(255,255,255,0.6);
}

.range-input-max:focus{
  border-left:2px solid rgba(255,255,255,1);
}

.range-input-max:active{
  border-left:2px solid rgba(255,255,255,1);
}

.range-label-min,
.range-label-max {
  position: absolute;
  color: rgba(255,255,255,0.3)
}

.range-label-min{
  left: 112px;
  top:12px;
}

.range-label-max{
  left: 250px;
  top:12px;
}

.range-scale {
  position:relative;
  height: 4px;
  background-color: rgba(255,255,255,0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255,255,255,1);
}

.range-toggle {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  border: none;
}

.range-toggle:hover {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline-width: 2px;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-btn {
  margin-top: 60px;
  margin-left: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-submit-btn {
  min-height: 48px;
  margin-bottom: 16px;
}

.filter-submit-btn:focus:not(:active) {
  outline: 3px solid rgba(255,255,255,1);
}


.filter-reset-btn {
  background-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  padding: 3px 14px;
  color: rgba(255,255,255,1);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
}

.filter-reset-btn:hover {
  color: rgba(255,255,255,0.6);
}

.filter-reset-btn:active {
  color: rgba(255,255,255,0.3);
}

.filter-reset-btn:not(:active):focus {
  color: rgba(255,255,255,0.6);
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.filter-reset-btn:disabled {
  opacity: 0.1;
}

/* Sorting-cards */

.sorting-cards {
  padding-top: 44px;
  padding-bottom: 50px;
}

.sorting-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-cards .section-title {
  margin-right: auto;
  margin-top: 5px;
}

.sorting-card-form {
  margin-right: 80px;
  margin-bottom: 3px;
}

.sorting-card-select {
  width: 287px;
  min-height: 48px;
  padding: 12px 19px;
  padding-right: 52px;
}

.select {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../img/icon/dropdown.svg");
  background-repeat: no-repeat;
  background-position: top 21px right 21px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  color: #333333;
  padding: 10px 18px;
}

.select:hover {
  border-color:#83b3d3;
}

.select:focus {
  border-color:#83b3d3;
}

.select:active {
  opacity: 0.3;
}

.select:disabled {
  opacity: 0.1;
}

.view-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  max-width: 350px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.view-card-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 3px;
}

.view-card-control {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.view-card-control:hover,
.view-card-control:focus {
  border-color: #83b3d3;;
}

.view-card-control:active {
  border-color:#000000;
}

.view-item-active .view-card-control {
  border-color: #000000;
}

.view-card-tile {
  background-image: url("../img/icon/variant-tile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-card-slideshow {
  background-image: url("../img/icon/variant-slideshow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-card-list {
  background-image: url("../img/icon/variant-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Sorted-cards */

.cards-list {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr 18px 1fr;
  grid-template-columns: repeat(3,1fr);
  gap: 10px 18px;
}

.cards-item {
  padding: 20px;
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
  color:#000000;
}

.card-link {
  display: block;
  margin-bottom: 16px;
}

.card-link:hover {
  opacity: 0.6;
}

.card-link:active {
  opacity: 0.3;
}

.card-link:focus:not(:active) {
  outline: 3px solid #83b3d3;
}

.card-info,
.card-btn,
.card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
}

.card-info-item {
  line-height: 23px;
}
.card-info-item:nth-child(even) {
  text-align: left;
  margin-bottom: 16px;
}

.card-info-item:nth-child(odd) {
  min-width: 133px;
  margin-right: 25px;
  text-align: left;
  margin-bottom: 16px;
}

.btn-card-more {
  min-width: 133px;
  min-height: 37px;
  padding: 7px 15px 6px;
  margin: 0;
}

.card-btn-item:nth-child(even) {
  margin-bottom: 16px;
}

.card-btn-item:nth-child(odd) {
  margin-right: 26px;
  margin-bottom: 16px;
}

.btn-to-favourites,
.btn-in-favourites {
  min-width: 140px;
  min-height: 37px;
  padding: 7px 15px 6px;
}

.btn-to-favourites:hover {
  outline: 1px solid #756257;
}

.btn-to-favourites:active {
  outline: 1px solid #756257;
}

.btn-to-favourites:focus:not(:active) {
  outline: 3px solid #615048;
}


.card-rating-item:nth-child(odd){
  margin: 0;
  margin-bottom: 16px;
}

.card-rating-item:nth-child(even){
  margin-left: auto;
  margin-bottom: 16px;
}

.star {
  width: 23px;
  margin: 0;
  min-height: 37px;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 17px;
  background-image: url("../img/icon/star.svg");
}

.star-two {
  width: 46px;
}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

.housing-rating {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 160px;
  margin: 0;
  padding: 7px 8px 6px;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
}

/* Pagination */

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.button-more {
  min-width: 620px;
  margin-bottom: 15px;
  border-radius: 4px;
  margin: 0 auto;
}

.button-more:focus:not(:active) {
  outline: 3px solid #756257;
}

.pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 420px;
  margin: 0 -4px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin: 0 4px;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 55px;
  min-height: 55px;
  padding: 8px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.pagination-link:focus:not(:active) {
  outline: 3px solid #756257;
}

.pagination-item-current .pagination-link {
  background-color: #f2f2f2;
  color:#000000;
}

.showing-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 386px;
}

.showing-type-label {
  margin-right: 51px;
}

.showing-card-select {
  font: inherit;
  color:#333333;
  min-width:160px;
  height: 48px;
  padding: 13px 17px;
  padding-right: 50px;
}

/* Subscribe */

.catalog-subscribe {
  padding-top: 43px;
  padding-bottom: 140px;
}

/* Модальное окно */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  place-content: center;
  z-index: 4;
  place-content: center;
}

.modal-close {
  display: none;
}

.modal-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-min-content;
  -ms-grid-columns: 1fr min-content;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  row-gap: 54px;
  width: 715px;
  padding: 70px;
  padding-top: 54px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 25px 50px 0 rgba(3, 3, 3, 0.15);
          box-shadow: 0 25px 50px 0 rgba(3, 3, 3, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 715px;
}

.modal .section-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

.modal-close-btn {
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close-btn::after {
  content: "";
  display: block;
  width: 53px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icon/modal-close.svg");
}

.modal-close-btn:hover {
  background-color: #e6e6e6;
}

.modal-close-btn:active {
  background-color: #e6e6e6;
}

.modal-close-btn:active::after {
  opacity: 0.3;
}
.modal-close-btn:focus:not(:active) {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.modal-content {
  grid-column: 1/ -1;
}

.modal-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
  grid-template-columns: 50% 1fr;
  -ms-grid-rows: 50px 40px 50px 40px 50px 40px 60px;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}

.modal-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.modal-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.modal-form > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.modal-form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.modal-form > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.modal-form > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.modal-form > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.modal-form > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.modal-form .field-group {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 15px 1fr;
  grid-template-columns: 140px 1fr;
  -ms-grid-rows: 50px;
  grid-template-rows: 50px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 4px;
}

.modal-form .field-group > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.modal-form .field-group > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.field-group-date {
  grid-column: 1 / -1;
}

.modal-form-submit {
  grid-column: 1 / -1;
}

.modal-form .field-input {
  min-height: 50px;
  font-weight: 700;
}

.field-group-date .field-input {
  background-repeat: no-repeat;
  background-position: right 17px top 50%;
  background-image: url("../img/icon/date.svg");
}

.field-group-date .field-input:not(:-moz-placeholder-shown):focus {
  outline: none;
  background-color: #FFFFFF;
  border:2px solid #000000;
}

.field-group-date .field-input:not(:-ms-input-placeholder):focus {
  outline: none;
  background-color: #FFFFFF;
  border:2px solid #000000;
}

.field-group-date .field-input:not(:placeholder-shown):focus {
  outline: none;
  background-color: #FFFFFF;
  border:2px solid #000000;
}

.field-message {
  grid-column: 2 / -1;
  font-size: 16px;
  text-align: left;
}

.field-message-error {
  color: #ff5757;
}

.quantity-inner {
  position: relative;
  z-index: 0;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 50px 1fr 50px;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
}

.quantity-input {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding:  0 50px;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-btn {
  position: relative;
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: transparent;
  border: none;
}

.quantity-btn::after {
  content: "";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  opacity: 0.3;
}

.quantity-btn:hover::after {
  opacity: 1;
}

.quantity-btn:hover::after {
  opacity: 0.2;
}

.quantity-btn:focus {
  outline: none;
}

.quantity-btn:focus:not(:active)::after {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  opacity: 1;
}

.quantity-btn[disabled]::after {
  opacity: 0.1;
}

.btn-minus {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.btn-minus::after {
  background-image: url("../img/icon/minus.svg");
}

.btn-plus {
  grid-column: -2 / -1;
}

.btn-plus::after {
  background-image: url("../img/icon/plus.svg");
}

.info {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/icon/info.svg");
  border-radius: 50%;
}

.info-content {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  z-index: 1;

  display: none;
  width: 256px;
  padding: 15px 20px 23px;

  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 400;
}

.info-content::before {
  content: "";
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  width: 19px;
  height: 9px;
  background-image: url("../img/icon/triangle.svg");
}

.info-content::after {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  height: 25px;
}

.info:hover .info-content {
  display: block;
}

.field-group .field-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  font-weight: 700;
}

.field-title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
}
