
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2")  format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
  }

.page {
  height: 100%;
  background-color: #F2F2F2;
}

.page-body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}


.wrapper {
  width: 1056px;
  margin: 0 auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.section-wrapper {
  width: 720px;
  margin: 0 auto;
}

.section-title{
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  line-height: 36px;
  text-transform: uppercase;
}


.btn {
  display: inline-block;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83B3D3;;
  text-transform: uppercase;
  text-decoration: none;
  cursor:pointer;
  outline: none;
  border-radius: 4px;
}

/* .btn:hover {
  background-color: #68a2ca;
}

.btn:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.btn:active {
  color: rgba(117, 98, 87, 0.3);
} */

.btn-large {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius: 10px;
}

/* Header */

.page-header {
  padding: 0 70px;
  margin-bottom: -5px;
  z-index: 1;
}

.header-nav {
  display: flex;
}

.logo-link {
  width: 139px;
  height: 70px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  cursor: pointer;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link-image {
  display: block;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
}

.site-menu-item {
  padding: 0 17px;
}

.site-menu-link {
  display: block;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.site-menu-link:hover{
  color :#756257;
}

.site-menu-link:focus {
  color:inherit;
}

.site-menu-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.menu-link-current::after{
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-left: auto;
  align-items: center;
}

.user-link {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 66px;
}

.user-link-icon {
  fill: #000000;
}

.user-link:hover .user-link-icon{
  fill: #756257;
}

.user-link:focus .user-link-icon{
  fill:#000000;
}

.user-link:active .user-link-icon{
  color: rgba(117, 98, 87, 0.3);
}

.favorites-counter {
  position: absolute;
  top:15px;
  right:0;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  text-decoration: none;
  color:#ffffff;
  width: 20px;
  height: 20px;
  padding-top: 3px;
  border-radius: 10px;
  background-color: #6c9e42;
}

.user-item:nth-child(2) {
  margin-right: 20px;
}

.user-btn {
  padding: 9px 15px;
  min-width: 160px;
  background-color:#756257;
}

.user-btn:hover{
  background-color: #615048;
}

.user-btn:focus{
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.user-btn:active{
  color:rgba(255,255,255,0.3);
}

/* Main */

/* Wellcome */

.main-container {
  flex-grow: 1;
}

.wellcome {
  height: 485px;
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position:
  50% 50%,
  50% 100%,
  50% 50% ;
  background-size:
  auto auto,
  100% auto,
  cover;
  background-image:
  url("../img/index/welcome.svg"),
  url("../img/index/divider.svg"),
  url("../img/index/index-background-wellcome.jpg");
}

/* Advantages */

.advantages {
  padding-top: 63px;
}

.advantages .section-title {
  margin-bottom: 31px;
}

.advantages-desk {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 80px;
}

.advantages-list {
  counter-reset: advantage;
}

.text-content > p::before,
.bridge-advantages-item p::before {
  counter-increment: advantage;
  content: "— №"counter(advantage)" —";
  display: block;
  margin-bottom: 30px;
}

.advantages-title,
.bridge-advantages-title {
  margin-bottom: 30px;
}

.advantages-list,
.town-advantages-list,
.bridge-advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #83B3D3;
}

.text-content {
  width: 220px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.advantages-title,
.town-advantages-title,
.bridge-advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.item-image {
  display: block;
  grid-column: span 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.town-advantages-list,
.bridge-advantages-list {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.bridge-advantages-item,
.town-advantages-item{
  background-color: #F0F6FA;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 384px;
  padding: 0 75px;
}

.town-advantages-item {
  padding-top: 184px;
  position: relative;
}

.bridge-advantages-item {
  padding-top: 98px;
}

.town-advantages-item::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 162px;
  width: 76px;
  height: 76px;
}

.housing::before {
  background-image: url("../img/index//icon-1.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.meal::before {
  background-image: url("../img/index//icon-2.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.souvenirs::before {
  background-image: url("../img/index//icon-3.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.meal {
  background-color:#FFFFFF;

}

/* .housing {
  background-image: url('/img/index/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 162px 89px;
}

.meal{
  background-color:#FFFFFF;
  background-image: url('/img/index/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 162px 91px;
}

.souvenirs {
  background-image: url('/img/index/icon-3.svg');
  background-repeat: no-repeat;
  background-position: 168px 85px;
} */

.road {
 background-color: #E6F0F6;
}

/* Search-hotel  */

.search-hotel {
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-hotel .section-title {
  margin-bottom: 29px;
}

.search-hotel-desk {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 56px;
}

.search-hotel-btn {
  min-width: 575px;
  height: 60px;
  padding: 15px 0;
  background-color: #756157;
}

.search-hotel-btn:hover{
  background-color: #615048;
}

.search-hotel-btn:focus{
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.search-hotel-btn:active{
  color:rgba(255,255,255,0.3);
}

/* Subscribe */

.subscribe {
}


.index-subscribe {
  padding-top: 93px;
  padding-bottom: 94px;
  color: #ffffff;
  background-color: #46424c;
  background-image: url("../img/index/index-background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.index-subscribe .section-title {
  color: #ffffff;
  margin-bottom: 29px;
}

.subscribe-desk {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-email-field {
  width: 600px;
  height: 60px;
  padding:19px;
  border-radius: 10px 0 0 10px;
  border-color: transparent;
}

.catalog-subscribe .subscribe-email-field {
  background-color: #e6e6e6;
}

.subscribe-email-field:hover,
.subscribe-email-field:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.subscribe-email-field:disabled
.subscribe-email-field:disabled:hover {
  opacity:0.3;
}

.subscribe-email-field:invalid {
  box-shadow: none;
}

.subscribe-email-field:focus:invalid {
  outline: none;
  border: 2px solid #ff5757;
}

.subscribe-email-field::placeholder {
  font-size: 18px;
  line-height: 144%;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-submit {
  border: none;
  border-radius: 0 10px 10px 0;
  height: 60px;
  width: 200px;
}

/* Footer */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 350px;
}

.social-item {
  margin-right: 3px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.social-icon {
  margin: auto;
}

.social-icon {
  fill:#83B3D3;
}

.social-link:hover .social-icon {
  fill:#68A2CA;
}

.social-link:focus {
  border-radius: 10px;
  outline: 3px solid #83b3d3;
}

.social-link:focus .social-icon {
  fill:#68A2CA;
}

.social-link:active .social-icon {
  fill:#68A2CA;
  opacity: 0.3;
}

.number {
  display: flex;
  align-items: center;
  width: 361px;
  height: 70px;
  font-size: 40px;
  color: #000000;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

.number:hover  {
  color:#756257;
}

.number:focus {
  outline: 3px solid #83b3d3 ;
  border-radius: 10px;
  color:#756257;
}

.number:active {
  color:#756257;
  opacity: 0.3;
}

.copyright-link {
  display: flex;
  width: 160px;
  height: 70px;
}

.copyright-icon {
  fill: #000000;
  margin: auto;
}

.copyright-link:hover .copyright-icon {
  fill:#756257;
}

.copyright-link:hover .copyright-icon {
  fill:#756257;
}

.copyright-link:focus {
  border-radius: 10px;
  outline: 3px solid #83b3d3 ;
}

.copyright-link:focus .copyright-icon {
  fill:#756257;
}

.copyright-link:active .copyright-icon {
  fill:#756257;
  opacity: 0.3;
}

/* Catalog */

/* Inner-header */

.inner-header {
  padding-top: 35px;
  padding-bottom: 83px;
  color: #ffffff;
  background-color: #6c9e42;
  background-image: url("../img/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: left;
}

/* Breadcrumbs */


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 10px;
}

.breadcrumbs-item-previous {
  position: relative;
}

.breadcrumbs-item-previous::after {
  content: "";
  position: absolute;
  background-image: url("../img/catalog/nav-link.png");
  background-repeat: no-repeat;
  width: 6px;
  height: 8px;
  top: 10px;
  right: 0;
}

.breadcrumbs-link {
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  fill: #ffffff;
  padding: 3px 8px;
  min-height: 28px;
  min-width: 27px;
}

.breadcrumbs-link .breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover{
  opacity: 0.6;
}

.breadcrumbs-link:focus{
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.breadcrumbs-link:active{
  opacity: 0.3;
}

/* Filter */

.catalog-filter {
  display: flex;
  flex-wrap: wrap;

}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 50px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 80px;
}


.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child){
  margin-bottom: 13px;
}

.catalog-filter-title {
  text-align: left;
  font-size: 20px;
  line-height:  26px;
  margin: 0;
  margin-bottom: 30px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:hover + .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: solid 3px #82b3d3;
  opacity: 0.6;
}

.control-input[type="checkbox"]:active + .control-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark{
  background-image: url("../img/catalog/check_mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}


.control-input[type="radio"]:focus + .control-mark  {
  outline: solid 3px #82b3d3;
}

.control-input[type="radio"]:checked + .control-mark::before  {
  content: "";
  position: absolute;
  top:5px;
  left:5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.control-label {
  line-height: 23px;
  display: block;
  text-align: left;
  padding: 0;
}
.range-wrapper-inputs {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.range-input {
  width: 145px;
  height: 48px;
  border: 2px solid rgba(255,255,255,1);
  background-color: transparent;
  color: rgba(255,255,255,1);
  padding: 14px 19px 11px 19px;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  border-left: 2px solid transparent;
}

.range-input:hover {
  z-index: 1;
  border-color: rgba(255,255,255,0.6);
}


.range-input:focus {
  z-index: 1;
  border-color: rgba(255,255,255,1);
  box-shadow: inset 0 0 0 3px #81b3d2;
  outline: 3px solid #81b3d2;
}

.range-input:active {
  z-index: 1;
  border-color: rgba(255,255,255,1);
  background-color: #756257;
}

.range-input-max:hover{
  border-left:2px solid rgba(255,255,255,0.6);
}

.range-input-max:focus{
  border-left:2px solid rgba(255,255,255,1);
}
.range-input-max:active{
  border-left:2px solid rgba(255,255,255,1);
}

.range-label-min,
.range-label-max {
  position: absolute;
  color: rgba(255,255,255,0.3)
}

.range-label-min{
  left: 112px;
  top:12px;
}

.range-label-max{
  left: 250px;
  top:12px;
}

.range-scale {
  position:relative;
  height: 4px;
  background-color: rgba(255,255,255,0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255,255,255,1);
}

.range-toggle {
  position: absolute;
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:focus:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
}

.range-input::placeholder {
  color: #000000;
}


.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.filter-submit-btn {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  padding: 16px;
}

.filter-submit-btn:hover {
  background-color: #68a2ca;
}

.filter-submit-btn:focus {
  background-color: #68a2ca;
  outline: 3px solid rgba(255,255,255,1);
}

.filter-submit-btn:active {
  color: rgba(255,255,255,0.3);
}

.filter-reset-btn {
  background-color: transparent;
  border:none;
  padding: 2px 8px;
  color: rgba(255,255,255,1);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border: 3px solid transparent;
  border-radius: 4px;
  width:100px;
}

.filter-reset-btn:hover {
  color: rgba(255,255,255,0.6);
  border: 3px solid transparent;
  border-radius: 4px;
}

.filter-reset-btn:focus {
  color: rgba(255,255,255,0.6);
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-reset-btn:active {
  color: rgba(255,255,255,0.3);
  border: 3px solid transparent;
  border-radius: 4px;
}
/* Sorting-cards */

.sorting-cards {
  padding-top: 44px;
  padding-bottom: 53px;
}

.sorting-cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotels-found {
  text-align: left;
  display: block;
  margin-right: 160px;
}

.sorting-card-form {
  margin-right: 81px;
}

.sorting-card-select {
  width: 287px;
  height: 48px;
  padding: 12px 19px;
  padding-right: 52px;
}

.select {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: top 21px right 21px;
  appearance: none;
}

.select:hover {
  border-color:#83b3d3;
}

.select:focus {
  border-color:#83b3d3;
}

.select:focus {
  opacity: 0.3;
}

.view-card {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-width: 190px;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.view-card-item:not(:last-child) {
  margin-right: 8px;
}

.view-card-control {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.view-card-control:hover,
.view-card-control:focus {
  border-color: #83b3d3;;
}

.view-card-control:active {
  border-color:#000000;
}

.view-card-tile {
  background-image: url("../img/index/variant-tile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-card-slideshow {
  background-image: url("../img/catalog/mode-slideshow-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.view-card-modelist {
  background-image: url("../img/catalog/mode-list-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Sorted-cards */

.cards-list {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px 18px;
}

.cards-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cards-item figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.card-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-link {
  display: block;
  margin-bottom: 16px;
}

.image-link:hover {
  opacity: 0.6;
}

.image-link:focus {
  border: 3px solid #83b3d3;
}

.image-link:active {
  opacity: 0.3;
}


.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
}

.card-info,
.card-btn {
  margin-bottom: 16px;
}

.card-info,
.card-btn ,
.card-rating {
  display: flex;
}

.type-of-housing {
  min-width: 133px;
  margin-right: 25px;
  text-align: left;
}

.cost-housing {
  text-align: left;
}

.btn-card-more {
  min-width: 133px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-right: 26px;
  background-color: #756257;
}

.btn-card-more:hover {
  outline: 3px solid #83b3d3;
}


.btn-card-more:focus {
  background-color: #615048;
}

.btn-card-more:active {
  color: rgba(255,255,255,0.3);
}

.btn-to-favourites,
.btn-in-favourites {
  min-width: 140px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.btn-to-favourites {
  background-color: #83b3d3;
}

.btn-to-favourites:hover {
  outline: 3px solid #615048;;
  background-color: #68a2ca;
}


.btn-to-favourites:focus {
  outline: 1px solid #756257;;
  background-color:#68a2ca;
}

.btn-to-favourites:active {
  outline: 1px solid #756257;;
  color: rgba(255,255,255,0.3);
}

.btn-in-favourites {
  background-color:  #6c9e42;
}

.btn-in-favourites:hover {
  outline: 3px solid #756257;
  background-color:#6c9e42;
}


.btn-in-favourites:focus {
  background-color:#6c9e42;
}

.btn-in-favourites:active {
  color: rgba(255,255,255,0.3);
}

.housing-rating-star{
  width: 125px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.star-icon {
  fill: #ffffff;
  margin-right: 7px;
}

.star-icon:last-child {
  margin-right: 0;
}
.star-icon.active {
  fill: #83B3D3;
}

.housing-rating {
  display: block;
  min-width: 160px;
  margin-left: auto;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 4px;
}

.btn-wrapper {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.button-more {
  min-width: 620px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 4px;
  background-color: #83b3d3;;
}

.button-more:hover {
  background-color: #68a2ca;;
}

.button-more:focus {
  outline: 3px solid #756257;
}

.button-more:active {
  color:rgba(255,255,255,0.3)
}

/* Pagination */

.pagination-wrapper {
  display: flex;
  justify-content: space-between;

}

.pagination {
  display: flex;
  max-width: 350px;
  margin: 0;
  list-style-type: none;
}

.pagination-item {
  margin: 0 4px;
}

.pagination-link {
  min-width: 55px;
  min-height: 55px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.pagination-link :hover {
  background-color: #68a2ca;;
}

.pagination-link:focus {
  outline: 3px solid #756257;
}

.pagination-link :active {
  color:rgba(255,255,255,0.3)
}

.pagination-current {
  background-color: #f2f2f2;
  color:#000000;
}

.showing-type {
  display: flex;
  align-items: center;
}

.showing-type-label {
  margin-right: 51px;
}

.showing-card-select {
  font: inherit;
  color:#333333;
  width:160px;
  height: 48px;
  padding: 13px 17px;
  padding-right: 50px;
}
/* Subscribe */

.catalog-subscribe {
  padding-top: 70px;
  padding-bottom: 140px;
}


/* Модальное окно */

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8)
}

.modal-close {
  display: none;
}

.modal-container{
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 715px;
}

.modal-close-btn {
  position: absolute;
  top: 54px;
  right: 70px;
  width:53px;
  height: 53px;
  font-weight: 900;
  background-color: #f2f2f2;
  border-radius: 100%;
  cursor: pointer;
  border:none;
}

.modal-close-btn:hover {
  background-color: #e6e6e6;
}

.modal-close-btn:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-btn:active {
  background-color: #e6e6e6;
}

.modal-close-icon {
  fill: rgba(0, 0, 0, 1);
}

.modal-close-btn:active .modal-close-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-content .section-title {
  margin: 0;
  margin-bottom: 32px;
  line-height: 133%;
  text-align: left;
}

.modal-form .field-group {
  margin: 0;
  margin-bottom: 40px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.auth-form-field {
  border-radius: 4px;
  height: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  padding: 18px 19px;
  padding-right: 49px;
}

.auth-form-field:hover {
  background-color: #e6e6e6;
  border:2px solid #e6e6e6;
}

.auth-form-field:focus {
  background-color: #e6e6e6;
  border:2px solid #e6e6e6;
  outline:3px solid #83b3d3;
}

.auth-form-field:active {
  background-color: #e6e6e6;
  border:2px solid #000000;
}

.auth-form-field:invalid {
  background-color: #f2f2f2;
  border:2px solid #f2f2f2;
}

.auth-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.auth-form-field.date-field {
  width: 420px;
}

.field-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  color: #000000;
  text-align: left;
}

.message-of-error,
.message-of-succes {
  position: absolute;
  top:40px;
  left:155px;
}

.message-of-error {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  color: #ff5757;
}

.message-of-succes {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
}

.quantity-inner {
  display: inline-flex;
  position: relative
}

.btn-minus,
.btn-plus,
.quantity {
  height: 50px;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.btn-minus,
.btn-plus {
  width:51px;
}

.btn-minus {
  border-radius: 4px 0 0 4px;
}

.btn-plus {
  border-radius: 0 4px 4px 0;
}

.quantity {
  width: 31px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  color: #000000;
}

.btn-minus-icon,
.btn-plus-icon {
  fill:rgba(0, 0, 0, 0.3);
  width: 25px;
  height: 25px;
  padding: 3px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.btn-minus:hover .btn-minus-icon,
.btn-plus:hover .btn-plus-icon {
  fill: rgba(0, 0, 0, 1);
}

.btn-minus:focus .btn-minus-icon,
.btn-plus:focus .btn-plus-icon {
  fill: rgba(0, 0, 0, 1);
  border: 3px solid #83b3d3;
}

.btn-minus:active .btn-minus-icon,
.btn-plus:active .btn-plus-icon {
  fill: rgba(0, 0, 0, 0.2)
}

.info {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  background-image: url(../img/index/info.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius:100%;
  border:none;
  cursor: pointer;
}

.info:hover,
.info:focus,
.info:active {
  background-color: #68a2ca;
}

.info-content {
  display: inline-block;
  position: relative;
  margin-top:50px;
  margin-left: -128px;
  width: 256px;
  height: 143px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #333333;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color:#FFFFFF;
  text-align: left;
}

.info-content::before,
.info-content::before,
.info-content::before {
  position: absolute;
  content: "";
  top:-9px;
  left:118px;
  width: 40px;
  height: 20px;
  background-image: url(../img/index/triangle.svg);
  background-repeat: no-repeat;
}

.modal-form-submit {
  width: 575px;
  height: 60px;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255,255,255,1);
  border: none;
  border-radius: 10px;
}


